<h1>StaticPages#homepage</h1>
<p>Find me in app/views/static_pages/homepage.html.erb</p>
<div><br/><br/>
  <div>video link</div>
  <div><%= link_to "stripe tutorial", "https://www.youtube.com/watch?v=qEVn9sXNCAI&list=PLdTytUiloS14rDdf6ftW63pIgoxshY12w", target: "_blank" %></div>
</div>