<div class="data_container">
  <div class="data_summary">
    <ul>

      <!--data-->
      <li>
        <div class="data_box">
          <div class="data_title">Revenue</div>
          <div class="data_stats"><%= @quick_stats[:revenue] ? (@quick_stats[:revenue]/100.0).to_s : "0" %></div>
        </div>
      </li>

      <!--data-->
      <li>
        <div class="data_box">
          <div class="data_title">Revenue</div>
          <div class="data_stats"><%= @quick_stats[:revenue] ? (@quick_stats[:revenue]/100.0).to_s : "0" %></div>
        </div>
      </li>
    </ul>
  </div>


</div>
