<div class="data_container">
  <div class="data_section_header">daily stats</div>

  <!--data_summary-->
  <div class="data_summary_section">
    <ul>
      <!--data-->
      <li>
        <div class="data_box">
          <div class="data_title">revenue</div>
          <div class="data_stats"><%= @quick_stats[:revenue] ? (@quick_stats[:revenue]/100.0).to_s : "0" %></div>
        </div>
      </li>

      <!--data-->
      <li>
        <div class="data_box">
          <div class="data_title">total sale</div>
          <div class="data_stats"><%= @quick_stats[:sales] ? (@quick_stats[:sales]).to_s : "0" %></div>
        </div>
      </li>

      <!--data-->
      <li>
        <div class="data_box">
          <div class="data_title">average sale</div>
          <div class="data_stats"><%= @quick_stats[:avg_sale] ? (@quick_stats[:avg_sale]/100.0).to_s : "0" %></div>
        </div>
      </li>

      <!--data-->
      <li>
        <div class="data_box">
          <div class="data_title">items/sale</div>
          <div class="data_stats"><%= @quick_stats[:per_sale].to_i %></div>
        </div>
      </li>
    </ul>
  </div>


  <!--data_graph-->
  <div class="data_graph_section hide">data_graph_section</div>
</div>
