<div class="dashboard_container">
  <div class="dashboard_inner_container">
    <!--left_content-->
    <%= render "shared/admin_dashboard_menu" %>

    <!--right_content-->
    <%= render "shared/admin_products" %>
  </div>
</div>
