<div class="right_content">
  <!--bread_crumb-->
  <div class="bread_crumb">home -> products</div>

  <!--content-->
  <h1>products</h1>
  <div class="table_container">
    <table class="table_content">
      <tr>
        <th>product</th>
        <th>price</th>
        <th>variants</th>
      </tr>

      <% @products.all.each do |prod| %>
        <tr>
          <td><%= prod.name %></td>
          <td><%= prod.price %></td>
          <td><%= prod.variants.count %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <!--content-->
</div>
