<div class="right_content">
  <!--bread_crumb-->
  <div class="bread_crumb">home -> inventory</div>

  <!--content-->
  <h1>inventory</h1>
  <div class="table_container">
    <table class="table_content">
      <tr>
        <th>product</th>
        <th>price</th>
        <th>colour</th>
        <th>stock</th>
      </tr>

      <% @variants.all.each do |var| %>
        <tr>
          <td><%= var.product.name %></td>
          <td><%= var.product.price %></td>
          <td><%= var.colour %></td>
          <td><%= var.stock %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <!--content-->
</div>
