<div class="right_content">
  <!--bread_crumb-->
  <div class="bread_crumb">home -> orders</div>

  <!--content-->
  <h1>Admins#orders</h1>
  <p>Find me in app/views/admins/orders.html.erb</p>
</div>
