<div class="right_content">
  <!--bread_crumb-->
  <div class="bread_crumb">home -> dashboard</div>

  <!--content-->
  <h1>Admins#dashboard</h1>
  <p>Find me in app/views/admins/dashboard.html.erb</p>
</div>
