<div class="right_content">
  <!--bread_crumb-->
  <div class="bread_crumb">home -> products</div>

  <!--content-->
  <h1>Admins#products</h1>
  <p>Find me in app/views/admins/products.html.erb</p>
</div>
