<div class="right_content">
  <!--bread_crumb-->
  <div class="bread_crumb">home -> inventory</div>

  <!--content-->
  <h1>inventory <%= "[#{@variants.all.count}]" %></h1>
  <%= render "variants/index" %>
  <!--content-->
</div>
