<div class="footer_cover">
  <div class="inner_footer_section">
    <ul>
      <li><%= link_to "sign-in admin", admin_session_path, class: "#" %></li>
      <li>|</li>
      <li><%= link_to "sign-up admin", new_admin_registration_path, class: "#" %></li>
    </ul>
  </div>
</div>

