<div class="main_cart_container">
  <h1>Cart page</h1>
  <div id="errorContainer"></div>
  <div data-controller="cart">
    <!--cart_total-->
    <div id="total"></div>
    <!--cart_total-->

    <!--button-->
    <button data-action="click->cart#checkout">checkout</button>
    <button data-action="click->cart#clear">clear cart</button>
    <!--button-->
  </div>
</div>

