<div>
  <h1>Cart Page</h1>
  <div id="errorContainer"></div>
  <div data-controller="cart">
    <div id="total"></div>
    <button data-action="click->cart#checkout">Checkout</button>
    <button data-action="click->cart#clear">Clear Cart</button>
  </div>
</div>

