<div id="<%= dom_id variant %>">
  <p>
    <strong>Product:</strong>
    <%= variant.product_id %>
  </p>

  <p>
    <strong>Colour:</strong>
    <%= variant.colour %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= variant.image_url %>
  </p>

</div>
