<div class="dashboard_container">
  <div class="dashboard_inner_container">
    <!--left_content-->
    <%= render "shared/admin_dashboard_menu" %>

    <!--right_content-->
    <div class="right_content">
      <!--bread_crumb-->
      <div class="bread_crumb">home -> <%= link_to "inventory", variant_admin_path(current_admin) %> -> <%= link_to "#{@product.name}", product_admin_path(current_admin) %> -> new variant</div>

      <!--content-->
      <div>
        <%= render "form", variant: @variant %>
      </div>
    </div>
  </div>
</div>
