<div class="homepage_container">
  <div class="homepage_inner_section">
    <div class="home_header">We could not process your purchase</div>
    <div><%= link_to "try again", cart_path, class: "home_link" %></div>
  </div>
</div>