<div>
  <div class="checkout_title_section">
    <h1>order summary</h1>
    <div class="ck_quantity">1</div>
  </div>

  <ul>
    <li>item</li>
  </ul>
  <div class="checkout_total">total price: </div>
  <button class="">confirm order</button>
</div>