<div class="homepage_container">
  <div class="homepage_inner_section">
    <div class="home_header">Thank you for your purchase</div>
    <div><%= link_to "continue shopping", products_path, class: "home_link" %></div>
  </div>
</div>
