/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 0px;
    position: relative;
    font-family: Sans-Serif;
}

.hide {
    display: none;
}

.main_container {
    padding-top: 80px;
    background-color: transparent;
    min-height: 675px;
}

.product_item {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.radio_cover {
    margin-bottom: 20px;
}

.radio {
    background-color: transparent;
    padding: 10px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    width: 40px;
    border-radius: 200px;
    border: 1px solid darkgray;
}

.radio:hover {
    background-color: orange;
    cursor: pointer;
}

.radio_cover label {
    font-size: 12px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
}

.radio_buttons {
    margin: 0px !important;
    margin-right: 4px !important;
}

input[type='radio']:checked:after {
    width: 61px;
    height: 36px;
    border-radius: 200px;
    top: -3px;
    left: -3px;
    position: absolute;
    background-color: orange;
    content: '';
    visibility: visible;
    border: 2px solid white;
    z-index: -1000;
}

.radio_cover label::after {
    font-family: 'Material Icons';
    content: "star" !important;
    color: black;
    margin-top: 2px;
    margin-left: 24px;
    font-size: 15px;
    position: absolute;
    top: 7px;
    cursor: pointer;
}

.margin_bottom_15px {
    margin-bottom: 15px;
}

.product_title {
    font-weight: bold;
    text-transform: capitalize;
}

.form_fields_cover {
    background-color: #DADADA;
    margin-bottom: 15px;
    padding: 15px;
}

.form_category_drop_down_cover {
    background-color: #DADADA;
    margin-bottom: 15px;
    padding: 15px;
}

.form_title {
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.form_category_drop_downs {
    display: flex;
    align-items: center;
}

.category_drop_field {
    margin-right: 15px;
}

.product_image img {
    width: 100px;
}

.variant_cover ul {
    background-color: #ffffff;
    list-style-type: none;
    border-radius: 3px;
    padding: 15px;
    align-items: center;
    margin: 0px;
    display: flex;

}

.variant_cover ul li {
    background-color: yellow;
    width: 100px;
    margin-right: 15px;
}

.variant_cover ul li img {
    width: 100%
}

.submit_btn {
    margin-top: 30px;
}

.product_label {
    font-size: 10px;
    text-transform: capitalize;
    font-family: Sans-Serif;
}

.dashboard_inner_container {
    display: flex;
}

.dashboard_container .left_content {
    background-color: #F5F5F5;
    width: 200px;
}

.left_content ul {
    background-color: transparent;
    list-style-type: none;
}

.left_content ul li {
   margin-bottom: 15px;
}

.left_content ul li a {
    font-size: 12px;
    color: #2E2F30;
    text-transform: capitalize;
    text-decoration: none;
}

.left_content ul li a:hover {
    text-decoration: underline;
}

.right_content {
    padding: 15px;
    height: 1200px;
}

.right_content .bread_crumb {
    font-size: 10px;
    margin-bottom: 30px;
}

.table_content {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table_content td, .table_content th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table_content tr:nth-child(even){background-color: #f2f2f2;}

.table_content tr:hover {background-color: #ddd;}

.table_content th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.main_product_name {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.border_content {
    border-bottom: 1px solid black;
    margin: 30px 0px;
}

.admin_product_img_cover img {
    width: 70px;
}

.btn_general {
    background-color: #2699FB;
    color: #fff;
    padding: 10px 15px;
    font-size: 13px;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 5px;
}

.display_flex_style {
    display: flex;
    height: 100px !important;
    align-items: center;
}

.margin_hor_15px {
    margin: 0px 15px;
}

.btn_cover {
    display: flex;
    margin-bottom: 15px;
}

.table_container {
    margin-bottom: 100px;
}

.data_box {
    background-color: #2699FB;
    color: #ffffff;
    padding: 22px 15px;
    width: 50px;
    font-size: 12px;
    text-align: center;
}

.data_title {
    margin-bottom: 5px;
}

.data_summary ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.data_summary ul li {
    display: block;
    float: left;
    margin: 5px;
}
