/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.hide {
    display: none;
}

.product_item {
    background-color: #CCCCCC;
}

.radio_cover {
    margin-bottom: 20px;
}

.radio {
    background-color: transparent;
    padding: 10px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    width: 40px;
    border-radius: 200px;
    border: 1px solid darkgray;
}

.radio:hover {
    background-color: orange;
    cursor: pointer;
}

.radio_cover label {
    font-size: 12px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
}

.radio_buttons {
    margin: 0px !important;
    margin-right: 4px !important;
}

input[type='radio']:checked:after {
    width: 61px;
    height: 36px;
    border-radius: 200px;
    top: -3px;
    left: -3px;
    position: absolute;
    background-color: orange;
    content: '';
    visibility: visible;
    border: 2px solid white;
    z-index: -1000;
}

.radio_cover label::after {
    font-family: 'Material Icons';
    content: "star" !important;
    color: black;
    margin-top: 2px;
    margin-left: 24px;
    font-size: 15px;
    position: absolute;
    top: 7px;
    cursor: pointer;
}

.margin_bottom_15px {
    margin-bottom: 15px;
}

.product_title {
    font-weight: bold;
    text-transform: capitalize;
}
