<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>
  <p>
    <strong>price:</strong>
    <%= product.price %>
  </p>
  <p><%= link_to 'review product', new_user_review_path(@user, product_id: product) %></p>
</div>
