<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">
  <ul>
    <% @products.each do |product| %>
      <li class="product_item">
        <%= render product %>
        <p>
          <%= link_to "Show this product", product %>
        </p>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to "New product", new_product_path %>
